name: Helm Chart Testing and Artifact Build

on:
  push:
    branches:
      - develop
      - main
  pull_request:
    branches:
      - main
      - develop
jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Helm
      uses: azure/setup-helm@v1
      with:
        version: 'v3.13.0' # You can specify the Helm version you want to use

    - name: Install Helm Chart Dependencies
      run: |
        helm dependency update

    - name: Lint Helm Chart
      run: |
        helm lint .

    - name: Package Chart
      run: |
        - helm package -d chart .
        - mv chart/kobo*.tgz chart/kobo.tgz 
   